@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

body {
  font-size: 16px;
  font-weight: 400;
  color: #231815;
  line-height: 1.6em;
  margin: 0;
  font-family: "Lato Regular", sans-serif;
}

.main-padding {
  padding: 12px 260px;
}

.aside-container {
  height: 40px;
  background-color: #231815;
  display: flex;
  justify-content: end;
  box-sizing: border-box;
}

.aside-block {
  width: 440px;
  padding-left: 0;
  line-height: 1.2em;
}


.aside-block a {
  text-decoration: none;
  color: white;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.logo-size {
  width: 217px;
  height: 57px;
}

.flex-container ul {
  list-style-type: none;
}

.menu {
  width: 480px;
  margin: 0 0 0 110px;
}

.menu ul {
  padding-left: 0;
}

.menu li {
  text-transform: uppercase;
}

.menu a {
  text-decoration: none;
  color: #231815;
}

.input-container {
  position: relative;
}

.input-search {
  max-width: 170px;
  height: 40px;
  border-radius: 88px;
  border: solid #f5f5f5;
  box-sizing: border-box;
  padding-left: 21px;
}

.input-search::placeholder {
  color: #231815;
  font-size: 16px;
}

.btn-search {
  height: 35px;
  width: 35px;
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: white;
}

.btn-search:hover {
  background-color: #DCDCDC;
}

.btn-search::before {
  content: "";
  background-image: url('../images/search-normal.svg');
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.search-button-container {
  max-height: 40px;
  display: none;
}

.search-button {
  width: 40px;
  height: 40px;
  background-color: black;
  border: none;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0 0 0 / 50%);
}

.search-button::before {
  content: '';
  background-image: url("../images/search-mini.svg");
  width: 21px;
  height: 21px;
  position: absolute;
  top: 9.5px;
  left: 9.5px;
}

.basket {
  width: 138px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 100px;
  border: none;
  padding: 11.5px 19px 11.5px 57px;
  position: relative;
  margin-left: 20px;
  box-shadow: 0 2px 10px rgba(0 0 0 / 50%);
}

.basket::before {
  content: "";
  background-image: url('../images/Bag.svg');
  width: 32px;
  height: 32px;
  top: 3.5px;
  left: 19px;
  position: absolute;
}

.basket::after {
  content: "";
  background-image: url('../images/Count.svg');
  width: 18px;
  height: 18px;
  position: absolute;
  left: 36px;
  top: 3px;

}

.dropdown {
  float: left;
  overflow: hidden;
  display: none;
  max-height: 40px;
}

.dropdown-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  position: relative;
  padding: 0;
}

.dropdown-btn::before {
  content: "";
  background-image: url("../images/Menu\ Button.svg");
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 24px;
  transform: translateY(-50%);

}

.dropdown-btn:hover {
  background-color: #DCDCDC;
}

.dropdown-content {
  padding: 12px 16px;
  display: none;
  position: absolute;
  background-color: #F5F5F5;
  z-index: 1;
  right: 0;
  transform: translateX(-50%);
}

.dropdown-content ul {
  padding-left: 0;
}

.dropdown-content a {
  text-transform: uppercase;
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #DCDCDC;
}



.dropdown:hover .dropdown-content {
  display: block;
}

@media (width >= 1600px) and (width <= 1919px) {
  .main-padding {
    padding: 12px 180px;
  }

  .menu {
    margin: 0 17px 0 0;
  }

  .input-container {
    display: none;
  }

  .search-button-container {
    display: block;
  }

  .basket {
    margin-left: 23px;
  }
}


@media (width >= 770px) and (width <= 1599px) {
  .aside-container {
    display: none;
  }

  .input-container {
    display: none;
  }

  .search-button-container {
    display: none;
  }

  .basket {
    display: none;
  }

  .menu {
    display: none;
  }

  .dropdown {
    display: block;
  }

  .main-padding {
    padding: 10px 44px;
  }

  .logo-size {
    width: 141px;
    height: 36px;
  }

}

@media (width <= 390px) {
  .aside-container {
    display: none;
  }

  .input-container {
    display: none;
  }

  .search-button-container {
    display: none;
  }

  .basket {
    display: none;
  }

  .menu {
    display: none;
  }

  .dropdown {
    display: block;
  }

  .main-padding {
    padding: 8px 35px;
  }

  .logo-size {
    width: 141px;
    height: 36px;
  }
}