@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Korataki Regular";
  src: url("../fonts/korataki.otf");
}

:root {
  --dark-main: #231815;
  --orange: #e45302;
  --light-gray: #808080;
  --light: #f5f5f5;
  --orange-hover: #EA7600;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-main);
  line-height: 1.6em;
  margin: 0;
  font-family: "Lato Regular", sans-serif;
}

h1 {
  font-family: "Korataki Regular", sans-serif;
  font-weight: 400;
  margin: 0 0 40px;
}

h3 {
  margin: 0;
  font-size: 18px;
}

p {
  line-height: 1.5em;
  padding: 20px 0;
}

.m-0 {
  margin: 0;
}

.p-header {
  padding: 12px 260px;
}

.p-main {
  padding: 60px 260px;
}

.ul-no-style {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.link-no-style {
  text-decoration: none;
}

.white-text {
  color: white;
}

.dark-text {
  color:  var(--dark-main);
}

.orange-text {
  color: var(--orange);
}

.gray-text {
  color: var(--light-gray);
}

.dark-bg {
  background-color: var(--dark-main);
}

.orange-bg {
  background-color: var(--orange);
}

.light-bg {
  background-color: var(--light);
}



.search-title {
  font-size: 44px;
}

.aside-container {
  height: 40px;
  display: flex;
  justify-content: end;
  box-sizing: border-box;
}

.aside-block {
  width: 440px;
  padding-left: 0;
  line-height: 1.2em;
}


.contaner-header {
  position: relative;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.logo-size {
  width: 217px;
  height: 57px;
}


.menu {
  width: 480px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu ul {
  padding-left: 0;
}

.menu li {
  text-transform: uppercase;
}

.menu a {
  text-decoration: none;
  color: var(--dark-main);
}

.input-container {
  position: relative;
}

.input-search {
  max-width: 170px;
  height: 40px;
  border-radius: 88px;
  border: solid var(--light);
  box-sizing: border-box;
  padding-left: 21px;
}

.input-search-button {
  height: 35px;
  width: 35px;
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: white;
  cursor: pointer;
}

.input-search-button:hover {
  background-color: #DCDCDC;
}

.input-search-button::before {
  content: "";
  background-image: url('../images/search-normal.svg');
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.search-button-container {
  max-height: 40px;
  display: none;
}

.search-button {
  width: 40px;
  height: 40px;
  background-color: black;
  border: none;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0 0 0 / 50%);
  cursor: pointer;
}

.search-button::before {
  content: '';
  background-image: url("../images/search-mini.svg");
  width: 21px;
  height: 21px;
  position: absolute;
  top: 9.5px;
  left: 9.5px;
}

.basket {
  width: 138px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 100px;
  border: none;
  padding: 11.5px 19px 11.5px 57px;
  position: relative;
  margin-left: 20px;
  box-shadow: 0 2px 10px rgba(0 0 0 / 50%);
  cursor: pointer;
}

.basket::before {
  content: "";
  background-image: url('../images/Bag.svg');
  width: 32px;
  height: 32px;
  top: 3.5px;
  left: 19px;
  position: absolute;
}

.basket::after {
  content: "";
  background-image: url('../images/Count.svg');
  width: 18px;
  height: 18px;
  position: absolute;
  left: 36px;
  top: 3px;

}

.hide-menu-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  padding: 0;
  position: relative;
  display: none;
  cursor: pointer;
}

.hide-menu-btn::before {
  content: "";
  background-image: url("../images/Menu\ Button.svg");
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 24px;
  transform: translateY(-50%);

}

.hide-menu-btn:hover {
  background-color: #DCDCDC;
}

.cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 50px 40px;
}

.card-item {
  grid-column: span 3;
  position: relative;
}

.cards li:nth-child(odd)::before {
  content: '';
  background-image: url('../images/card-sign.svg');
  width: 126px;
  height: 38px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.img-card {
  width: 100%;
  border-radius: 20px;
}

.img-card-title {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 700;
  margin: 20px 0 12px;
}

.price {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4em;
}

.line-through {
  text-decoration: line-through;
}

.relative-position {
  position: relative;
}

.more-info-container {
  height: 88px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  position: absolute;
  bottom: 0;
  background-color: rgba(245 245 245 / 70%);
  justify-content: center;
  align-items: center;
  display: none;
}

.more-info-btn {
  height: 48px;
  width: 258px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.more-info-btn:hover {
  background-color: var(--orange-hover);
}

.card-item a:hover .more-info-container {
  display: flex;
}

.footer-container {
  display: grid;
  grid-template-areas: "logo adress service public"
                        "description contact service bank"
}

.grid-logo {
  grid-area: logo;
}

.grid-adress {
  grid-area: adress;
}

.grid-service {
  grid-area: service;
  justify-self: center;
}

.grid-public {
  grid-area: public;
  color: var(--light-gray);
  text-align: end;
}

.footer-container p {
  padding: 0;
  margin: 20px 0 0;
}

.grid-description {
  grid-area: description;
  color: var(--light-gray);
  max-width: 322px;
}

.link-footer {
  text-decoration: underline;
  color: var(--light-gray);
}

.grid-contact {
  grid-area: contact;
}

.grid-bank {
  grid-area: bank;
  place-self: center end;
}

.footer-logo {
  width: 239px;
}

.grid-service ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.grid-service li {
  margin-top: 20px;
}

@media (width >= 1600px) and (width < 1920px) {
  .input-container {
    display: none;
  }

  .search-button-container {
    display: block;
  }

  .search-title {
    font-size: 40px;
  }

  .p-header {
    padding: 12px 180px;
  }

  .p-main {
    padding: 60px 180px;
  }

  .basket {
    margin-left: 23px;
  }

  .footer-logo {
    width: 217px;
  }

  .grid-service {
    justify-self: start;
  }
}


@media (width >= 770px) and (width < 1600px) {
  .aside-container {
    display: none;
  }
  
  .input-container {
    display: none;
  }

  .search-button-container {
    display: none;
  }

  .search-title {
    font-size: 32px;
  }

  .p-header {
    padding: 10px 44px;
  }

  .p-main {
    padding: 50px 44px;
  }

  .basket {
    display: none;
  }

  .menu {
    display: none;
  }

  .hide-menu-btn {
    display: block;
  }

  .logo-size {
    width: 141px;
    height: 36px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
  }
  
  .card-item {
    width: 320px;
  }

  .footer-logo {
    width: 180px;
  }
  
  .footer-container {
    display: grid;
    grid-template-areas: "logo logo logo"
                          "adress contact service"
                          "public contact service"
                          "bank description description"                     
  }

  .grid-description {
    max-width: 382px;
    justify-self: end;
  }

  .grid-public {
    text-align: start;
  }

  .grid-bank {
    justify-self: start;
  }

  .grid-logo {
    margin-bottom: 33px;
  }

}


@media (width >= 390px) and (width < 770px) {
  h1 {
    margin: 0 0 24px;
  }

  .search-title {
    font-size: 24px;
  }

  .aside-container {
    display: none;
  }

  .input-container {
    display: none;
  }

  .search-button-container {
    display: none;
  }

  .basket {
    display: none;
  }

  .menu {
    display: none;
  }

  .p-header {
    padding: 8px 35px;
  }

  .p-main {
    padding: 40px 35px;
  }

  .logo-size {
    width: 141px;
    height: 36px;
  }

  .hide-menu-btn {
    display: block;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0;
  }
  
  .card-item {
    width: 155px;
  }

  .img-card-title {
    margin: 10px 0 11px;
    height: 51px;
    overflow: hidden;
    font-weight: 500;
  }

  .price {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
  }

  .cards li:nth-child(odd)::before {
    display: none;
  }

  .card-item a:hover .more-info-container {
    display: none;
  }

  .footer-logo {
    width: 180px;
  }

  .footer-container {
    display: grid;
    row-gap: 30px;
    grid-template-areas: "logo"
                          "adress"
                          "contact"
                          "service"
                          "public"
                          "bank"
                          "description"
  }


  .grid-service {
    justify-self: start;
  }

  .grid-bank {
    justify-self: start;
    margin-top: 47px;
  }

  .grid-public {
    text-align: start;
  }

  .grid-description {
    justify-self: start;
    max-width: 300px;
  }
}

@media (width < 390px) {
  h1 {
    margin: 0 0 24px;
  }

  .search-title {
    font-size: 24px;
  }

  .aside-container {
    display: none;
  }

  .input-container {
    display: none;
  }

  .search-button-container {
    display: none;
  }

  .basket {
    display: none;
  }

  .menu {
    display: none;
  }

  .p-header {
    padding: 8px 35px;
  }

  .p-main {
    padding: 40px 35px;
  }

  .logo-size {
    width: 141px;
    height: 36px;
  }

  .hide-menu-btn {
    display: block;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 0;
  }
  
  .card-item {
    width: 155px;
  }

  .img-card-title {
    margin: 10px 0 11px;
    height: 51px;
    overflow: hidden;
    font-weight: 500;
  }

  .price {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
  }

  .cards li:nth-child(odd)::before {
    display: none;
  }

  .card-item a:hover .more-info-container {
    display: none;
  }

  .footer-logo {
    width: 180px;
  }

  .footer-container {
    display: grid;
    row-gap: 30px;
    grid-template-areas: "logo"
                          "adress"
                          "contact"
                          "service"
                          "public"
                          "bank"
                          "description"
  }


  .grid-service {
    justify-self: start;
  }

  .grid-bank {
    justify-self: start;
    margin-top: 47px;
  }

  .grid-public {
    text-align: start;
  }

  .grid-description {
    justify-self: start;
    max-width: 300px;
  }
}